@media (max-width: 425px) { 

    .playerscards {
      width: 75%;
    }

    .adiz {
      visibility: hidden;
    }

    .adde {
      visibility: hidden;
    }

    .videofull {
      display: none;
    }

    .form {
      margin: 0 0 15px 0;
      width: 100%;
      float: none;
      flex-direction: column-reverse;
    }

    form > div {
      margin: 0 0 15px 0; 
    }

    form > div > label, legend {
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }

    form > div > div, form > div > fieldset > div {
      width: 100%;
      float: none;
    }

    input[type=text], input[type=email], input[type=url], input[type=password], textarea, select {
      width: 100%; 
    }

    #texto {
      padding: 0;
    }
}
  
@media (min-width: 426px) {

    .videosmall {
      display: none;
    }

    form > div > label, legend {
      text-align: right;
    }
}