
/* Colores */
$fondo_principal: rgba(255,239,214,0.98);
$fondo_seccion: #4caa6f;
$titulo: rgba(175,20,22,0.96);
$parrafo: #4caa6f;
$destacado: goldenrod;
$resaltado: rgba(175,20,22,0.96);
$contraste: white;
$borde: #ccc;

.grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "ad1 media ad2"
      "ad1 texto ad2"
      "footer footer footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 10% auto 10%;
    margin: 0;
}
  
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: $fondo_principal;
} 

header {
    grid-area: header;
    background-color: $fondo_seccion;
    text-align: center;
    display: block;
    margin: 0 0 0 0;
}

nav {
    grid-area: ad1;
}
  
aside {
    grid-area: ad2;
}

p {
    line-height: 2;
    font-weight: bold;
    color: $parrafo;
    font-style: italic;
}

footer {
    background-color: $fondo_seccion;
    text-align: center;
    display: block;
    grid-area: footer;
}

h1 {
    color: $titulo;
    font-size: 2rem;
}
  
h3 {
    color: $titulo;
}
  
h5 {
    color: $titulo;
    padding: 10px;
    font-weight: bold;
}
  
h6 {
    color: $destacado;
}
  
#media {
    grid-area: media;
    text-align: center;
    display: block;
    padding-top: 15px;
}

#texto {
    grid-area: texto;
    text-align: center;
    padding: 0 15px 0 15px;
}

.premio {
    color: $destacado;
}

.video {
    padding-top: 15px;
}
  
.adiz, .adde {
    background-color: $destacado;
    color: $contraste;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 7rem;
    overflow: hidden;
    line-height: 2;
}

.torneos {
    display: flex;
    flex-direction: column;
}
  
.up {
    background-color: $fondo_seccion;
    position:fixed;
    bottom: 5px;
    right: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
    font-size: 150%;
    border: 1px solid $borde;
}

ul {
    padding-left: 0px;

    li {
        display: inline-block;
        padding: 10px;

        a {
            text-decoration: none;
            color: $contraste;
            padding: 0 10px;

            &:hover {
                color: $resaltado;
            }
            
        }
    }
}
  
a.active {
    color: $resaltado;
}

table, th, td {
    border-collapse: collapse;
    margin: 0;
    padding: 10px;  
    table-layout: fixed;
    display: inline-block;
    text-align: center;
}
  
table tr {
    background-color: $fondo_principal;
}
  
form {
    display: inline-block;
    align-items: center;
    border-radius:7px;
    flex:1;
    color: $contraste;
    font-style: bold;
    background-color: $fondo_seccion;
    padding: 10px;
}
  
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
  
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
  
form > div > label, legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}
  
form > div > div, form > div > fieldset > div {
    width: 75%;
    float: right;
}
  
form > div > fieldset label {
    font-size: 90%;
}
  
fieldset {
    border: 0;
    padding: 0;
}
  
input[type=text], input[type=email], textarea {
    width: 100%;
    border-top: 1px solid $borde;
    border-left: 1px solid $borde;
    border-right: 1px solid $borde;
    border-bottom: 1px solid $borde;
    border-radius: 7px;
}
  
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: 0;
    border-color: $resaltado;
}
  
input[type=submit]:hover {
    background-color: $resaltado;
}
  
input[type=submit] {
    background-color: $fondo_seccion;
    color: $contraste;
    border: 1px solid $borde;
    border-radius: 7px;
}
  
@media (max-width: 425px) { 

    .playerscards {
      width: 75%;
    }

    .adiz {
      visibility: hidden;
    }

    .adde {
      visibility: hidden;
    }

    .videofull {
      display: none;
    }

    .form {
      margin: 0 0 15px 0;
      width: 100%;
      float: none;
      flex-direction: column-reverse;
    }

    form > div {
      margin: 0 0 15px 0; 
    }

    form > div > label, legend {
      width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }

    form > div > div, form > div > fieldset > div {
      width: 100%;
      float: none;
    }

    input[type=text], input[type=email], input[type=url], input[type=password], textarea, select {
      width: 100%; 
    }

    #texto {
      padding: 0;
    }
}
  
@media (min-width: 426px) {

    .videosmall {
      display: none;
    }

    form > div > label, legend {
      text-align: right;
    }
}